@use 'src/styles/breakpoints.scss' as *;

.content {
  display: grid;

  margin-top: 24px;

  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 34px;

  .cards {
    display: flex;
    flex-flow: column nowrap;

    row-gap: 40px;
  }

  .membersDescription {
    font-family: Everett;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;
    color: #f3f4f6;
  }

  @include respond-below(sm) {
    padding: 12px;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
  }
}
