.noWallet {
  display: flex;
  width: 100%;

  flex-flow: column nowrap;
  align-items: center;
  row-gap: 20px;

  font-family: Everett;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
