.main {
  display: grid;
  padding: 4px 8px;

  border-bottom: 2px solid #171717;

  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  &.padding-sm {
    padding: 12px 20px;
  }

  &.padding-m {
    padding: 16px 20px;
  }

  select {
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    resize: none;

    font-family: Everett;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #171717;
  }

  &.error {
    border-bottom: 2px solid #ef4444;

    select {
      color: #ef4444;
    }
  }
}
