@use 'src/styles/breakpoints.scss' as *;

.main {
  display: grid;
  width: 100%;

  grid-template-columns: 1fr 1fr;
  gap: 25px;

  @include respond-below(sm){
    padding: 12px;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
  }
}

.noPolls {
  display: flex;
  width: 100%;

  flex-flow: column nowrap;
  align-items: center;
  row-gap: 20px;

  font-family: Everett;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
}
