@font-face {
  font-family: 'Everett';
  src: url('./Everett-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Everett';
  src: url('./Everett-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Everett';
  src: url('./Everett-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}
